{% extends "base.html" %}

{% block contant %}


<div style="display: flex; flex-wrap: wrap; justify-content: space-around; align-content: space-between; margin: 30px;>
	<form method=" post" class="form-signin">
	{% csrf_token %}
	<div class="mb-3 col-md-6">
		<div style="display: flex; flex-direction: row; justify-content: center; ">
			<img class="mb-4" src="/static/pics/favicon.ico" alt="" width="72" height="72">
		</div>
		<h1 class="h3 mb-3 font-weight-normal"> <strong> Forget Password </strong> </h1>
		<p>*** Provide all same details, Those given in Register time</p>

		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="inputEmail4">Email</label>
				<input type="email" class="form-control" id="inputEmail4" name="regemail">
			</div>
			<div class="form-group col-md-6">
				<label for="inputUserName">UserName</label>
				<input type="text" class="form-control" id="inputUserName" name="regusername">
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="inputFirstName">First Name</label>
				<input type="text" class="form-control" id="inputFirstName" placeholder="" name="regfirstname">
			</div>
			<div class="form-group col-md-6">
				<label for="inputLastName">Last Name</label>
				<input type="text" class="form-control" id="inputLastName" name="reglastname">

			</div>
		</div>

		<div class="form-row">
			
			
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="inputCity">City</label>
				<input type="text" class="form-control" id="inputCity" name="regcity">
			</div>
			<div class="form-group col-md-4">
				<label for="inputState">State</label>
				<input type="text" class="form-control" id="inputstate" name="regstate">
			</div>
			<div class="form-group col-md-2">
				<label for="inputZip">Pin\Zip</label>
				<input type="text" class="form-control" id="inputZip" name="regpincode">
			</div>
		</div>

		<div class="form-row">
			<div><button type="submit" class="btn btn-primary">Forget Password</button></div>
		</div>


	</div>
	</form>


</div>

{% endblock %}