{% extends "base.html" %}

{% block contant %}


<div style="display: flex; flex-wrap: wrap; justify-content: space-around; align-content: space-between; margin: 30px;>
		<form method=" post" class="form-signin">
	{% csrf_token %}
	<div class="mb-3">
		<div style="display: flex; flex-direction: row; justify-content: center; ">
			<img class="mb-4" src="/static/pics/favicon.ico" alt="" width="72" height="72">
		</div>
		<h1 class="h3 mb-3 font-weight-normal">Register in <strong>SmartBajaar</strong></h1>
		<p>*** All fields are compulsory </p>
		<div class="form-row">
			<div class="form-group col-md-7">
				<label for="inputEmail4">Email : </label>
				{{ registerform.emailId }}
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-5">
				<label for="inputFirstName">First Name : </label>
				{{ registerform.firstName }}
			</div>
			<div class="form-group col-md-5">
				<label for="inputLastName">Last Name : </label>
				{{ registerform.lastName }}
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-5">
				<label for="inputUserName">UserName : </label>
				{{ registerform.userName }}
			</div>
			<div class="form-group col-md-5">
				<label for="inputRegPassword">Password : </label>
				{{ registerform.password }}
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-5">
				<label for="inputCity">City : </label>
				{{ registerform.city }}
			</div>
			<div class="form-group col-md-5">
				<label for="inputState">State : </label>
				{{ registerform.state }}
			</div>
			<div class="form-group col-md-2">
				<label for="inputZip">Pin\Zip</label>
				{{ registerform.zipCode }}
			</div>
		
		</div>
		<div class="form-row">
			<div><button type="submit" class="btn btn-primary">Register</button></div>
		</div>
	</div>
</div>
</form>
</div>




{% endblock %}