{% extends "base.html" %}

{% block contant %}

{% comment %} style="display: flex; flex-wrap: wrap; justify-content: space-around; align-content: space-between; margin: 30px {% endcomment %}
<div class="d-flex flex-wrap justify-content-around align-content-between m-5">
	<form method= "post" class="form-signin" novalidate>
	{% csrf_token %}
		<div class="mb-3 ">
			<div style="display: flex; flex-direction: row; justify-content: center; ">
				<img class="mb-4" src="/static/pics/favicon.ico" alt="" width="72" height="72">
			</div>
			<h1 class="h3 mb-3 font-weight-normal">Register in <strong>SmartBajaar</strong></h1>
			<p>*** All fields are compulsory </p>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="FirstName">First Name : </label>
					{{ RegisterFormData.first_name }}
				</div>
				<div class="form-group col-md-6">
					<label for="LastName">Last Name : </label>
					{{ RegisterFormData.last_name }}
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputEmail4">Email : </label><br>
					{{ RegisterFormData.email }}
				</div>
				<div class="form-group col-md-6">
					<label for="inputUserName">UserName : </label>
					{{ RegisterFormData.username }}
				</div>
			</div>


			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputRegPassword">Password : </label>
					{{ RegisterFormData.password1 }}
				</div>
				<div class="form-group col-md-6">
					<label for="inputRegPassword">Password(re_enter): </label>
					{{ RegisterFormData.password2 }}
				</div>
			</div>
			
			<input type="submit" value="submit" class="btn btn-primary">
			<h5 class=" my-3 ">If, already register, <a href="{% url 'login' %}" class="text-decoration-none">login</a>
			</h5>
			<div class="form-row">
				
			</div>
		</div>
	</form>
</div>




{% endblock %}