/* mostlly we use bootstrap css but some special perpose we use this */


.nav_scrollable-menu {
    height: auto;
    max-height: 350px;
    overflow-x: hidden;
}


.category {
    display:flex;
    flex-wrap: wrap;
    text-align: center;

}

.a {
    text-decoration: none;

}





.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}