{% extends "base.html" %}

{% block contant %}

<!-- buttom navbar -->

<div class="nav-scroller bg-white shadow-sm">
	<nav class="nav nav-underline">


		<p>
			<a class="btn text-primary m-0" data-toggle="collapse" href="#collapseExample" role="button"
				aria-expanded="false" aria-controls="collapseExample">
				Categaries
			</a>
		</p>


		<a class="nav-link active" href="#">Dashboard</a>
		<a class="nav-link" href="#">
			Friends
			<span class="badge badge-pill bg-light align-text-bottom">27</span>
		</a>
		<a class="nav-link" href="#">Suggestions</a>
		<a class="nav-link" href="#">Link</a>
		<a class="nav-link" href="#">Link</a>
		<a class="nav-link" href="#">Link</a>
		<a class="nav-link" href="#">Link</a>
		<a class="nav-link" href="#">Link</a>
	</nav>
</div>
<!-- end nav bar -->
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/" class="text-decoration-none">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">{{numsDetails.title}}</li>
	</ol>
</nav>
<!-- menu functon -->
<div style="display:flex; flex-wrap: wrap; margin-bottom: 5px;">
	<div class="collapse scroller" id="collapseExample" >
		<div class="card card-body p-0 mr-2">
			<nav id="navbar-example3" class="navbar navbar-warning "
				style=" margin-bottom: 10px !important; justify-content:flex-start; background-color: #9dc8d698;">
				{% for i in categoriesData %}
				<nav class="nav nav-pills flex-column">

					<a class="nav-link" href="#">{{i.title}}</a>

				</nav>
				{% endfor %}
			</nav>
		</div>
	</div>
	<!-- end menu function -->
	<!-- item start here -->
	<div class="row ml-1 mu-4">
		{% for i in fashionitem %}
		<div class="col-sm-6 col-md-4 col-xl-3 mb-3"
			style="display: flex; justify-content: space-between; flex-direction: column; align-items: center; width:240px ">

			<a href="/docs/4.4/examples/navbar-bottom/">
				<div style="height: 190px !important; width: 180px !important;">
					<img src="/media/{{i.product_pic}}" height="180px " width="170">
				</div>


			</a>
			<h5 class="mb-1">{{i.product_title}}</h5>
			<div class="btn-group" role="group" aria-label="Basic example">
				<!-- <button type="button" class="btn " style="line-height: 0.5rem;">
					<p><small>m.r.p</small></p>
					<b>{{i.product_MRP}}</b>
				</button>
				<button type="button" class="btn " style="line-height: 0.5rem;">
					<b>{{i.discount}}</b>
					<p>%<small>discount</small></p>
				</button>-->


				<div class="text-center" style="line-height: 0.3; padding: 5px;">
					<p><strong>-({{i.discount}}%)</strong> <small> MRP. {{i.product_MRP}}</small></p>
					<p><strong>₹ {{i.price}} </strong></p>
				</div>

				<button type="button" class="btn btn-dark" style="height: 50px; line-height:1rem">
					<P>Add to<br>CART</P>
				</button>
			</div>

			<p class="text-muted">{{i.pro_disc}}</p>

		</div>
		{% endfor %}
	</div>



</div>
{% endblock %}