{% extends "base.html" %}

{% block contant %}

<!-- buttom navbar -->

<div class="nav-scroller bg-white shadow-sm">
	<nav class="nav nav-underline">


		<p>
			<a class="btn text-primary m-0" data-toggle="collapse" href="#collapseExample" role="button"
				aria-expanded="false" aria-controls="collapseExample">
				Categaries
			</a>
		</p>


		<a class="nav-link active" href="#">Dashboard</a>
		<a class="nav-link" href="#">
			Friends
			<span class="badge badge-pill bg-light align-text-bottom">27</span>
		</a>
		<a class="nav-link" href="#">Suggestions</a>
		<a class="nav-link" href="#">Link</a>
		<a class="nav-link" href="#">Link</a>
		<a class="nav-link" href="#">Link</a>
		<a class="nav-link" href="#">Link</a>
		<a class="nav-link" href="#">Link</a>
	</nav>
</div>
<!-- end nav bar -->
<!-- menu functon -->
<div style="display:flex; flex-wrap: wrap;">
	<div class="collapse scroller" id="collapseExample" style="width:250px;">
		<div class="card card-body p-0 mr-2">
			<nav id="navbar-example3" class="navbar navbar-warning "
				style=" max-height: 450px; overflow-x:hidden !important; background-color: #ffd47098;">
				{% for i in fashionitem %}
				<nav class="nav nav-pills flex-column">

					<a class="nav-link" href="#">{{i.product_title}}</a>

				</nav>
				{% endfor %}
			</nav>
		</div>
	</div>
	<!-- end menu function -->
	<!-- item start here -->
	<div class="row">
		{% for i in fashionitem %}
		<div class="col-sm-6 col-md-4 col-xl-3 mb-3"
			style="display: flex; justify-content: space-between; flex-direction: column; align-items: center; ">

			<a href="/docs/4.4/examples/navbar-bottom/">
				<div style="height: 190px !important; width: 180px !important;">
					<img src="/media/{{i.product_pic}}" height="180px " width="170">
				</div>


			</a>
			<h5 class="mb-1">{{i.product_title}}</h5>
			<div class="btn-group border" role="group" aria-label="Basic example">
				<!-- <button type="button" class="btn " style="line-height: 0.5rem;">
					<p><small>m.r.p</small></p>
					<b>{{i.product_MRP}}</b>
				</button>
				<button type="button" class="btn " style="line-height: 0.5rem;">
					<b>{{i.discount}}</b>
					<p>%<small>discount</small></p>
				</button>
				<button type="button" class="btn " style="line-height: 0.5rem;">
					<p><small>m.r.p</small></p>
					<b>{{i.product_MRP}}</b>
				</button> -->

				<div>
					
				</div>
			</div>

			<p class="text-muted">{{i.pro_disc}}</p>

		</div>
		{% endfor %}
	</div>



</div>
{% endblock %}