<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/style/base_style.css">
  <link rel="shortcut icon" href="/static/pics/favicon.ico" style="border-radius: 50%;" type="image/jpeg">
  <title>SmartBajaar - "Smart man - Smart choice"</title>
</head>

<body>

  <!-- commen navbar code start -->
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #ffb2008f !important;">
    <a class="navbar-brand my-0 ml-4 h3 p-0 " href="#">SMART BAJAAR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown mr-4">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu nav_scrollable-menu" role="menu" aria-labelledby="navbarDropdown">
            <p class="ml-1">Special for you</p>

            <a class="dropdown-item" href="#">Today Deals</a>
            <a class="dropdown-item" href="#">offers</a>
            <a class="dropdown-item" href="#">Best for you</a>
            <a class="dropdown-item" href="#">Daily Used</a>
            <div class="dropdown-divider"></div>
            <p class="ml-1">Fashion Contant</p>
            <a class="dropdown-item" href="#">Womens Fashion </a>
            <a class="dropdown-item" href="#">mens fashion</a>
            <a class="dropdown-item" href="#">For childs</a>
            <a class="dropdown-item" href="#">Seasion depends</a>
            <a class="dropdown-item" href="#">Evergreen</a>
            <a class="dropdown-item" href="#"></a>
            <p class="ml-1">Electronics</p>
            <a class="dropdown-item" href="#">Mobiles & devices</a>
            <a class="dropdown-item" href="#">AC, Cooler & Fans</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Other items</a>
          </div>
        </li>
        <form class="form-inline  my-lg-0">
          <input class="form-control mr-sm-2" style="width:400px !important;" type="search" placeholder="Search"
            aria-label="Search">
          <button class="btn btn-success mr-3 my-2 my-sm-0" type="submit">Search</button>
        </form>

      </ul>
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
              <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
            </svg> Login/Sign-up
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="#">
              
              <!-- madal start here -->
              <!-- Button trigger modal -->
              <button type="button" class="btn " data-toggle="modal" data-target="#signinmodal">
                Login to <strong>SmartBajaar</strong>
              </button>
            </a>
            <!-- use seprate space for button and mal -->


            <!-- madal end here -->
            <a class="dropdown-item" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                <path
                  d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0">
                </path>
                <path
                  d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4">
                </path>
              </svg> Not Register,<br>
              <!-- Button trigger modal -->
              <button type="button" class="btn " data-toggle="modal" data-target="#signupmodal">
                Register in <strong>SmartBajaar</strong>
              </button>
            </a>
          </div>
        </div>
        <button type="button" class="btn btn-danger">Order/return</button>
        <button type="button" class="btn btn-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
            <path
              d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
          </svg> Cart</button>


      </div>

    </div>
  </nav>


  <!-- Log-in Modal code her -->
  <div class="modal fade" id="signinmodal" tabindex="-1" role="dialog" aria-labelledby="signinmodaltitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="signinmodalTitle">Sign-In to <strong>SmartBajaar</strong></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-signin">
            <img class="mb-4" src="/static/pics/favicon.ico" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputUserName" class="sr-only">Enter UserName</label>
            <input type="email" id="inputEmail" class="form-control" placeholder=" Enter UserName here" required=""
              autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- end modal -->


  <!-- sig-up Modal code her -->


  <!-- Modal -->
  <div class="modal fade" id="signupmodal" tabindex="-1" role="dialog" aria-labelledby="signupmodalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signupmodalTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-signin">
            <img class="mb-4" src="/static/pics/favicon.ico" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Register in <strong>SmartBajaar</strong></h1>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Password</label>
                <input type="password" class="form-control" id="inputPassword4">
              </div>
            </div>
            <div class="form-group">
              <label for="inputUserName">UserName</label>
              <input type="text" class="form-control" id="inputUserName" placeholder="Use Username for LoginId">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity">
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <input type="text" class="form-control" id="inputstate">
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">Pin\Zip</label>
                <input type="text" class="form-control" id="inputZip">
              </div>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Check me out
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end modal -->

  <!-- comman navbar code complete -->


  <!-- Default dropright button -->
